.App {
  text-align: center;
  background-color: #ececec;
  min-height: 100vh;

}

.App-logo {
  pointer-events: none;
  max-height: 6rem;
}

.App-header {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.min-width {
  min-width: 600px;
}

.input-box {
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
}

.vertical-margin {
  margin: 2rem 0;
}

.margin-btn-space {
  margin-bottom: 1rem;
}

#directory-box {
  margin: 2rem;
}

.directory-tree-container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.directory-tree {
  margin: 1rem 0;
  border: 1px #e7e7e7 solid;
}

#error-message {
  color: red;
}

#loading-icon img {
    height: 4rem;
}

#loading-icon {
  display: flex;
  justify-content: center;
}

.inline {
  display: inline;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.rotate {
  animation: rotation 2s infinite linear;
}

#btn-group {
  display: flex;
  justify-content: space-between;
}

#btn-group button {
  font-size: 16px;
  padding: 1rem;
  background-color: white;
  border: 1px #e7e7e7 solid;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}