.App {
  text-align: center;
  background-color: #ececec;
  min-height: 100vh;

}

.App-logo {
  pointer-events: none;
  max-height: 6rem;
}

.App-header {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#directory-box {
  margin: 2rem;
}

.directory-tree-container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 10px;
}

.directory-tree {
  margin: 1rem 0;
  border: 1px black solid;
}

#error-message {
  color: red;
}

#loading-icon img {
    height: 4rem;
}

#loading-icon {
  /* position: absolute; */
  display: flex;
  justify-content: center;
}

.inline {
  display: inline;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}